<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vehiclevannahomeworkhenryboyd.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/63bded2a-1d6d-4d98-b566-1c8337062a9b/resourcegroups/DefaultResourceGroup-WUS/providers/Microsoft.Web/sites/VehicleVannaHomeworkHenryboyd</ResourceId>
    <UserName>$VehicleVannaHomeworkHenryboyd</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://vehiclevannahomeworkhenryboyd.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>